.App {
  text-align: center;
}

#home{
  height: auto;
  margin: 80px 0px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) { */
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    width : 80px;
  }
/* } */
header{
  text-align: center;
  background: linear-gradient(90deg, rgba(0,127,255,1) 0%, rgba(255,0,255,1) 50%, rgba(255,128,0,1) 100%); 
  width: 100%;
}
#header_title{  
  display:flex;
  align-items: center;
  justify-content: center;
}
main{
  margin: 20px 50px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(255,128,0,1) 0%, rgba(255,0,255,1) 50%, rgba(0,127,255,1) 100%); 
  height: 100px;
  margin-top: 30px;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  border-color: #00FF00;
  margin: 10px;
  padding: 10px;
  color: black;
}

button:focus{
  background-color: rgba(255,0,255,1); 
}

.nom_phar{
  font-size: 1.3rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items:center;
}

input, select{
  margin-bottom: 25px;
  border-color: #00FF00 ;
  height: 25px;
}

form label{
  font-weight: bold;
}

h2{
  text-align: center;
}


